USE [master]
GO
/****** Object:  Database [PropertyRentalManagement]    Script Date: 2024-04-21 3:31:41 PM ******/
CREATE DATABASE [PropertyRentalManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PropertyRentalManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PropertyRentalManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PropertyRentalManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PropertyRentalManagement_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PropertyRentalManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PropertyRentalManagement]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2024-04-21 3:31:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Apartments]    Script Date: 2024-04-21 3:31:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Apartments](
	[ApartmentID] [int] IDENTITY(1,1) NOT NULL,
	[ApartmentNumber] [int] NOT NULL,
	[ApartmentFloor] [int] NOT NULL,
	[ApartmentType] [nvarchar](50) NOT NULL,
	[AvailabilityID] [int] NOT NULL,
	[RentPrice] [float] NOT NULL,
	[BuildingID] [int] NOT NULL,
	[OwnerID] [int] NOT NULL,
	[ManagerID] [int] NOT NULL,
	[TenantID] [int] NULL,
 CONSTRAINT [PK_Apartments] PRIMARY KEY CLUSTERED 
(
	[ApartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 2024-04-21 3:31:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[AppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentDate] [date] NOT NULL,
	[AppointmentTime] [time](7) NOT NULL,
	[TenantID] [int] NOT NULL,
	[ManagerID] [int] NOT NULL,
 CONSTRAINT [PK_Appointments] PRIMARY KEY CLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Availabilities]    Script Date: 2024-04-21 3:31:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Availabilities](
	[AvailabilityID] [int] NOT NULL,
	[AvailabilityDescription] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Availabilities] PRIMARY KEY CLUSTERED 
(
	[AvailabilityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Buildings]    Script Date: 2024-04-21 3:31:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buildings](
	[BuildingID] [int] IDENTITY(1,1) NOT NULL,
	[BuildingName] [nvarchar](60) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[PostalCode] [nvarchar](20) NOT NULL,
	[CityID] [int] NOT NULL,
	[ManagerID] [int] NOT NULL,
 CONSTRAINT [PK_Buildings] PRIMARY KEY CLUSTERED 
(
	[BuildingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 2024-04-21 3:31:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[CityID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](100) NOT NULL,
	[ProvinceID] [nvarchar](2) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 2024-04-21 3:31:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[SenderID] [int] NOT NULL,
	[ReceiverID] [int] NOT NULL,
	[MessageContent] [nvarchar](400) NOT NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provinces]    Script Date: 2024-04-21 3:31:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provinces](
	[ProvinceID] [nvarchar](2) NOT NULL,
	[ProvinceName] [nvarchar](80) NOT NULL,
 CONSTRAINT [PK_Provinces] PRIMARY KEY CLUSTERED 
(
	[ProvinceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2024-04-21 3:31:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[TreatmentPronoun] [varchar](5) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Email] [nvarchar](80) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Role] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Apartments] ON 

INSERT [dbo].[Apartments] ([ApartmentID], [ApartmentNumber], [ApartmentFloor], [ApartmentType], [AvailabilityID], [RentPrice], [BuildingID], [OwnerID], [ManagerID], [TenantID]) VALUES (2, 22, 18, N'2 Bedrooms', 2, 2100, 2, 1, 2, 3)
INSERT [dbo].[Apartments] ([ApartmentID], [ApartmentNumber], [ApartmentFloor], [ApartmentType], [AvailabilityID], [RentPrice], [BuildingID], [OwnerID], [ManagerID], [TenantID]) VALUES (3, 2, 15, N'3 Bedrooms', 2, 1200, 1, 1, 2, 1010)
INSERT [dbo].[Apartments] ([ApartmentID], [ApartmentNumber], [ApartmentFloor], [ApartmentType], [AvailabilityID], [RentPrice], [BuildingID], [OwnerID], [ManagerID], [TenantID]) VALUES (4, 12, 2, N'1 Bedroom', 1, 12, 1, 1, 2, NULL)
SET IDENTITY_INSERT [dbo].[Apartments] OFF
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([AppointmentID], [AppointmentDate], [AppointmentTime], [TenantID], [ManagerID]) VALUES (1, CAST(N'2024-04-14' AS Date), CAST(N'16:00:00' AS Time), 3, 2)
INSERT [dbo].[Appointments] ([AppointmentID], [AppointmentDate], [AppointmentTime], [TenantID], [ManagerID]) VALUES (4, CAST(N'2024-04-16' AS Date), CAST(N'16:00:00' AS Time), 1010, 2)
INSERT [dbo].[Appointments] ([AppointmentID], [AppointmentDate], [AppointmentTime], [TenantID], [ManagerID]) VALUES (5, CAST(N'2024-04-17' AS Date), CAST(N'11:00:00' AS Time), 3, 2)
SET IDENTITY_INSERT [dbo].[Appointments] OFF
GO
INSERT [dbo].[Availabilities] ([AvailabilityID], [AvailabilityDescription]) VALUES (1, N'Available')
INSERT [dbo].[Availabilities] ([AvailabilityID], [AvailabilityDescription]) VALUES (2, N'Not Available')
GO
SET IDENTITY_INSERT [dbo].[Buildings] ON 

INSERT [dbo].[Buildings] ([BuildingID], [BuildingName], [Address], [PostalCode], [CityID], [ManagerID]) VALUES (1, N'L''Hexagone 1', N'1140 Rue Wellington', N'H3C 1V8', 1739, 2)
INSERT [dbo].[Buildings] ([BuildingID], [BuildingName], [Address], [PostalCode], [CityID], [ManagerID]) VALUES (2, N'L''Hexagone 2', N'101 Rue Murray', N'H3C 0T4', 1739, 2)
INSERT [dbo].[Buildings] ([BuildingID], [BuildingName], [Address], [PostalCode], [CityID], [ManagerID]) VALUES (4, N'Place du Fort', N'1411 Saint-Catherine', N'H3H 2N7', 1739, 1009)
SET IDENTITY_INSERT [dbo].[Buildings] OFF
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([CityID], [CityName], [ProvinceID]) VALUES (1738, N'Toronto', N'ON')
INSERT [dbo].[Cities] ([CityID], [CityName], [ProvinceID]) VALUES (1739, N'Montreal', N'QC')
INSERT [dbo].[Cities] ([CityID], [CityName], [ProvinceID]) VALUES (1740, N'Vancouver', N'BC')
GO
SET IDENTITY_INSERT [dbo].[Cities] OFF
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([MessageID], [SenderID], [ReceiverID], [MessageContent]) VALUES (1002, 3, 2, N'From Tenant a Hello to the Manager!')
INSERT [dbo].[Messages] ([MessageID], [SenderID], [ReceiverID], [MessageContent]) VALUES (1003, 2, 1, N'Hi to Owner')
INSERT [dbo].[Messages] ([MessageID], [SenderID], [ReceiverID], [MessageContent]) VALUES (1004, 1, 2, N'Hi to Manager')
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
INSERT [dbo].[Provinces] ([ProvinceID], [ProvinceName]) VALUES (N'AB', N'Alberta')
INSERT [dbo].[Provinces] ([ProvinceID], [ProvinceName]) VALUES (N'BC', N'British Columbia')
INSERT [dbo].[Provinces] ([ProvinceID], [ProvinceName]) VALUES (N'MB', N'Manitoba')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [TreatmentPronoun], [FirstName], [LastName], [Email], [Username], [Password], [Role]) VALUES (1, N'Mr.', N'Ayrton', N'Owner', N'ayrton@owner.com', N'ayrton.owner', N'123456789', N'Owner')
INSERT [dbo].[Users] ([UserID], [TreatmentPronoun], [FirstName], [LastName], [Email], [Username], [Password], [Role]) VALUES (2, N'Mr.', N'Ayrton', N'Manager', N'ayrton@manager.com', N'ayrton.manager', N'123456789', N'Manager')
INSERT [dbo].[Users] ([UserID], [TreatmentPronoun], [FirstName], [LastName], [Email], [Username], [Password], [Role]) VALUES (3, N'Mr.', N'Ayrton', N'Tenant', N'ayrton@tenant.com', N'ayrton.tenant', N'123456789', N'Tenant')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Apartments]  WITH CHECK ADD  CONSTRAINT [FK_Apartments_Availabilities] FOREIGN KEY([AvailabilityID])
REFERENCES [dbo].[Availabilities] ([AvailabilityID])
GO
ALTER TABLE [dbo].[Apartments] CHECK CONSTRAINT [FK_Apartments_Availabilities]
GO
ALTER TABLE [dbo].[Apartments]  WITH CHECK ADD  CONSTRAINT [FK_Apartments_Buildings] FOREIGN KEY([BuildingID])
REFERENCES [dbo].[Buildings] ([BuildingID])
GO
ALTER TABLE [dbo].[Apartments] CHECK CONSTRAINT [FK_Apartments_Buildings]
GO
ALTER TABLE [dbo].[Apartments]  WITH CHECK ADD  CONSTRAINT [FK_Apartments_Users] FOREIGN KEY([OwnerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Apartments] CHECK CONSTRAINT [FK_Apartments_Users]
GO
ALTER TABLE [dbo].[Apartments]  WITH CHECK ADD  CONSTRAINT [FK_Apartments_Users1] FOREIGN KEY([ManagerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Apartments] CHECK CONSTRAINT [FK_Apartments_Users1]
GO
ALTER TABLE [dbo].[Apartments]  WITH CHECK ADD  CONSTRAINT [FK_Apartments_Users2] FOREIGN KEY([TenantID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Apartments] CHECK CONSTRAINT [FK_Apartments_Users2]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Users] FOREIGN KEY([TenantID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Users]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Users1] FOREIGN KEY([ManagerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Users1]
GO
ALTER TABLE [dbo].[Buildings]  WITH CHECK ADD  CONSTRAINT [FK_Buildings_Cities] FOREIGN KEY([CityID])
REFERENCES [dbo].[Cities] ([CityID])
GO
ALTER TABLE [dbo].[Buildings] CHECK CONSTRAINT [FK_Buildings_Cities]
GO
ALTER TABLE [dbo].[Buildings]  WITH CHECK ADD  CONSTRAINT [FK_Buildings_Users] FOREIGN KEY([ManagerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Buildings] CHECK CONSTRAINT [FK_Buildings_Users]
GO
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_Cities_Provinces] FOREIGN KEY([ProvinceID])
REFERENCES [dbo].[Provinces] ([ProvinceID])
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_Cities_Provinces]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Users] FOREIGN KEY([SenderID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Users]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Users1] FOREIGN KEY([ReceiverID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Users1]
GO
USE [master]
GO
