@{
    ViewData["Title"] = "Property Rental Management";
}

<style>
    .centered-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin-top: -100px;
    }

    .welcome-text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin-top: -775px;
    }

    .welcome-text h1 {
        text-align: center;
    }
</style>

<div class="centered-container">
    <img src="/Images/home-image.jpg" alt="Home image" style="max-width: 70%;" />
</div>

<div class="welcome-text">
    <h1>Welcome to Property Rental Management System</h1>.
</div>