@{
    ViewData["Title"] = "Additional Information";
}
<br>
<h1>@ViewData["Title"]</h1>

<br>
<h2>Final Project</h2>

<br>
<h5>Student ID: 202234145</h5>
<h5>Student Name: Ayrton Senna Seraphim do Amaral</h5>

<br>
<p>This project was developed during the LaSalle's College Winter 2024 term for the course Web Server Applications Development II.</p>
